body {
    margin: 0 auto;
    font-family: sans-serif;
    background-color: aliceblue;
    
}

h1 {
    font-size: 6vh;
}

header {
    text-align: center;
}

input {
    margin-bottom: 20px;
    border-radius: 10px;
    width: 15vmax;
    height: 3.5vh;
}

main {
    display: flex;
}

#pokemons {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px;
    margin-top: 0 ;
}

.pokemon {
    cursor: pointer;
    text-align: center;
    height: 35vh;
    width: 25%;
    margin: 1vw;
    border-radius: 10px;
    transition: 0.2s;
}

p {
    margin: 2vh;
    font-size: 3.5vh;
    font-weight: 600;
    text-transform: capitalize;
}

span {
    font-size: 2.5vh;
}

.pokemon:hover {
    transform: translateY(-3px);
    box-shadow: 3px 3px 3px black;
}

#info {
    position: sticky;
    top: 20px;
    width: 25%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s;
    margin-top: 10px;
    margin-right: 10px;
}

#info h2 {
    font-size: 4vh;
    text-transform: capitalize;
    text-align: center;
}

#sprite {
    text-align: center;
}

#atributos {
    line-height: 1.5vmax;
}

img {
    width: 18vh;
}
@media screen and (max-width: 1360px) {

#sprite_tras {
    display: none;
}
}

@media screen and (max-width: 1170px) {
    input {
        text-align: center;
        height: 2.5vmax;
        width: 90%;
    }
    #info {
        width: 75%;
    }
    .pokemon {
        width: 100%;
    }
    #atributos {
        line-height: 3vmax;
    }
    
}